// Place all the styles related to the Chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

li {
  word-wrap:break-word;
  border-bottom-style: none;
}

#messageSubmit {
  margin-top: 25px;
}

#chat{
  margin-bottom: 100px;
  overflow-y: scroll;
  max-width: 900px;
  //max-height: 500px; possibly add when chat gets too big.
}

textarea{
  resize: none;
}
