// Place all the styles related to the RailsChat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#Join{
  margin-top: 20px;
  margin-bottom: 20px;
}

#top{
  margin-bottom: 40px;
}

#newUser{
  margin-bottom: 60px;
  margin-top: 15px;
}
