// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#DeleteUser{
  margin-top: 20px;
  margin-left: 30px;
}

#Return{
  margin-top: 20px;
}
