<main>
  <form id="signIn">
    <h2 class="text-center" id="top">Sign In and join the conversation.</h2>
      <div class="col-md-offset-5">
        <label for="UserName">User Name:</label>
        <input type="text" class="form-control" id="UserName" placeholder="UserName" style="width: 35%;">
      </div>
      <div class="col-md-offset-5">
        <label for="Password">Password:</label>
        <input type="password" class="form-control" id="Password" placeholder="Password" style="width: 25%;">
      </div>
      <button id="Join" type="submit" class="btn btn-primary col-md-offset-5">Join</button>
    </form>
  <section id="about" class="text-center">
    <p class="lead">This Chat application creates a chat session between you and other users to share ideas and stories.</p>
    <p>Don't have an account with us? No worries Signing up is FREE and easy to do click this button begin.</p>
  </section>
</div>
  <button id="newUser" type="button" class="btn btn-success col-md-offset-5">New User!</button>
  </div>
  <footer class="center-block">
      <p class= "col-md-offset-5"> Brian Battell  <img width= "12" height= "12" src="copyrighted.svg"</img>  <a href="https://www.linkedin.com/pub/brian-battell/62/983/815"><img width= "24" height= "24" src="linkedin1.svg"</a></img>  <a href="https://github.com/BrianB86"><img width= "24" height= "24" src="socialnetwork180.svg" <a href="https://github.com/BrianB86"</a></img></p>
      <p class="col-md-offset-3">Icons made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
  </footer>
</main>
